{% extends "base.html" %}
{% block content %}
<div class="topic-grid">
  <div class="topic">
    <h2 class="topic-heading"> Logic Gates </h2>
    <button class="button info-button floatleft"> <i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <a href="logic_gates" class="button topic-button floatLeft"> Start </a>
  </div>
  <div class="topic clearfix">
    <h2 class="topic-heading"> Binary </h2>
    <button class="button info-button floatleft"> <i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <a href="binary" class="button topic-button floatLeft"> Start </a>
    <a href="binary-test" class="button topic-button floatRight"> Test </a>
  </div>
  <div class="topic">
    <h2 class="topic-heading"> Fractions </h2>
    <button class="button info-button floatleft"> <i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <a href="fractions" class="button topic-button floatLeft"> Start </a>
  </div>
  <div class="topic">
    <h2 class="topic-heading"> Algorithms </h2>
    <button class="button info-button floatleft"> <i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <a href="algorithms" class="button topic-button floatLeft"> Start </a>
  </div>
</div>
{% endblock %}
